body {
    background-image: url(/bref-4/sistemli_kitap_okuma-05a2ac70-1-750x400.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.titre-1 {
    /* hadi drnaha bax titre twli dik background chada contnte matkonx xada width
    kaml */
    display: inline-block;
    color: white;
    background-color: rgb(162, 57, 57);
    text-shadow: 20px 12px 12px rgb(255, 8, 8);
}

.title {
    /* div wstha titre hadi drnaha ka div bax n9dro ndiro liha center */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.carde-1 {
    background-color: brown;
    display: inline-block;
    position: relative;
    width: 20%;
    height: 350px;
}

.text {
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.image {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.image img {
    width: 80%;
    margin-top: 9px;
    height: 220px;
}

.carde-2 {
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}

.carde:hover {
    border: 4px;
    border-radius: 16px;
    border: 15px solid rgb(93, 56, 56);
}

.image-2 img {
    width: 80%;
    margin-top: 9px;
    height: 220px;
}

.image-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-2 {
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;

}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    MIN-height: 75vh;
}

.carde-3 {
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}

.image-3 img {
    width: 80%;
    margin-top: 10px;
    height: 220px;
}

.image-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.text-3 {
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.carde-4 {
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}

.image-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-4 img {
    background-color: rgb(116, 8, 8);
    width: 80%;
    height: 220px;
    margin-top: 9px;

}

.text-4 {
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn button {
    background-color: brown;
    padding: 20px 50px;
    color: rgb(113, 5, 34);
    font-size: x-large;
}

.SECTION {
    display: flex;
    flex-direction: column;
}

.btn {
    border-radius: 18px;
    box-shadow: 20px;
    display: flex;
    justify-content: center;

}


/*_________________ section 2_____________________________ */
.global-btn {
    background-color: rgb(120, 12, 12);
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

.btn-plus {
    background-color: rgb(177, 81, 81);
    width: 40px;
    font-size: larger;
}

.btn-moin {
    background-color: rgb(177, 81, 81);
    width: 40px;
    font-size: larger;
}

.global-btn span {
    font-size: larger;
    padding: 30px 50px;
}

.dernier-btn {
    padding: 20px 40px;
}

.tahakom-f-btn-end {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.titre-2 h2 {
    font-size: x-large;
    color: white;
    background-color: rgb(162, 57, 57);
    text-shadow: 20px 12px 12px rgb(255, 8, 8);
    display: inline-block;
}

.titre-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titre-de-teky {
    font-size: x-large;
    color: white;
    margin-left: 10px;
    display: inline-block;
}

.dernier-btn {
    background-color: rgb(141, 15, 15);
    padding: 20px 50px;
    color: rgb(113, 5, 34);
    font-size: x-large;
}

.btn-2 {
    background-color: rgb(141, 15, 15);
    padding: 20px 50px;
    color: rgb(113, 5, 34);
    font-size: x-large;
}

.deux-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*_________________ section 3_____________________________ */
.titre-3 {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titre-3 h2 {
    font-size: x-large;
    color: white;
    background-color: rgb(162, 57, 57);
    text-shadow: 20px 12px 12px rgb(255, 8, 8);
    display: inline-block;

}

.case-1 {
    width: 49%;
    background-color: rgb(38, 38, 38);
    
}

.case-2 {
    width: 49%;
    overflow-y: scroll;
    background-color: rgb(38, 38, 38);
}

.deux-case {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: fit-content;
    height: 70vh;
}

.case-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
input{
    width: 90%;
    height: 20px;
    background-color:blanchedalmond ;
}
.case-1 h4{
    text-align: center;
    color: white;
    font-size:x-large;
    font-style: italic;
}
::placeholder{
    color: black;
}
#carde-vide {
    height: max-content;

}
.cardeVide{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btndeaffichage{
    background-color: rgb(141, 15, 15);
    padding: 20px 50px;
    color: rgb(113, 5, 34);
    font-size: x-large;
}
.bbtnn{
    display: flex;
    flex-direction: row;
    justify-content: center;
} 
.cardeprincipale{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.card1{
    width: 45%;
    background-color: rgb(38, 38, 38);
    border-radius: 16px;
    height: 100vh;

}
.carde2{
    width: 45%;
    background-color: rgb(38, 38, 38);
    border-radius: 16px;
    height: 100vh;
}
.section4 h2{
    display: flex;
    text-align: center;
}


@media(max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        width: 100%;
        gap: 50px;
    }

    .carde-2 {
        width: 50%;
    }

    .carde-1 {
        width: 50%;
    }

    .carde-3 {
        width: 50%;
    }

    .carde-4 {
        width: 50%;
    }

    .btn {
        border-radius: 18px;
        box-shadow: 20px;
        width: 100%;
    }

    .SECTION {
        display: flex;
        flex-direction: column;
        gap: 100PX;
    }

    /* _________________________section-3_____________________________________ */

}