body{
    background-image: url(/sistemli_kitap_okuma-05a2ac70-1-750x400.jpeg);
    background-repeat:no-repeat ;
    background-size: cover;
    position: relative;
}
.titre-1{
    /* hadi drnaha bax titre twli dik background chada contnte matkonx xada width
    kaml */
    display:inline-block;
    color:white;
    background-color: rgb(162, 57, 57);
    text-shadow:  20px 12px 12px rgb(255, 8, 8);
}
.title{
    /* div wstha titre hadi drnaha ka div bax n9dro ndiro liha center */
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.carde-1{
    background-color: brown;
    display: inline-block;
    position: relative;
    width: 20%;
    height:350px;
}
.text{
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.image img{
    width: 80%;
    margin-top: 9px;
    height: 220px;
}

.carde-2{
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}
.carde:hover{
    border: 4px;
    border-radius: 16px;
    border: 15px solid rgb(93, 56, 56);
}
.image-2 img{
    width: 80%;
    margin-top: 9px;
    height: 220px;
}
.image-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-2{
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;

}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}
.carde-3{
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}
.image-3 img{
    width: 80%;
    margin-top: 10px;
    height: 220px;
}
.image-3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.text-3{
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.carde-4{
    width: 20%;
    background-color: brown;
    height: 350px;
    position: relative;
}
.image-4{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.image-4 img{
    background-color: rgb(116, 8, 8);
    width: 80%;
    height: 220px;
    margin-top: 9px;

}
.text-4{
    background-color: rgb(116, 8, 8);
    width: 100%;
    position: absolute;
    bottom: 0;
}
.btn{
    position: absolute;
    bottom: 30px;
    left: 680px;
    border-radius: 18px;
    box-shadow: 20px;
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: brown;
    padding: 20px 50px;
    color: rgb(113, 5, 34);
    font-size: x-large;
}
.btn button:hover{
    border: 3px rgb(127, 36, 36) solid;
    /* background-color: transparent; */
    background-color: rgb(42, 1, 1);
}
@media(max-width:600px) {
    /* .container{
        display: flex;
        flex-direction: column;
        align-items: center; 
     }
    .btn{
        justify-content: center;
    } */
   .container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    width: 100%;
    gap: 50px;
}
.carde-2 {
    width: 50%;
}
.carde-1{
    width: 50%;
}
.carde-3{
    width: 50%;
}
.carde-4{
    width: 50%;
}
.btn{
    position: absolute;
    border-radius: 18px;
    box-shadow: 20px;
    display: flex;
    justify-content: center;
}

}